<!-- Header -->
<div class="row header flex mb-2">
  <div class="col flex header" style="height: 135px">
    <h1 class="mt-5" id="header">Patty</h1>
    <img style="height: 150px" src="../assets/pattycake.png" alt="A cake made of burger patties" />
    <h1 class="mt-5" id="header">Cakes</h1>
  </div>
  <h4>For the Burger-Obsessed</h4>
</div>
<!-- Body -->
<div class="container">
  <div class="row">
    <div class="col">
      <form class="flex" id="inputForm">
        <div class="mb-2 mt-1 flex">
          <input type="text" class="form-control mr-5" id="textBox" aria-describedby="text field" />
        </div>
        <div class="mb-3"></div>
        <button id="addBtn" type="submit" class="btn btn-outline-danger ml-5">
          Add Burger
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <!-- Left Column -->
    <div class="col content m-2 pt-3" style="height: 500px">

      <h5 style="text-align: center">Bucket List</h5>

      <ul>

        {{#each cats}}
        {{#unless when_devoured}}
        {{> cats/cat-block devoured=false}}
        {{/unless}}
        {{/each}}

      </ul>

    </div>
    <!-- Right Column -->
    <div class="col content m-2 pt-3" style="height: 500px">
      <h5 style="text-align: center">Devoured</h5>

      <ul>
        {{#each cats}}
        {{#if when_devoured}}
        {{> cats/cat-block devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>