body {
  background-color: #f5daa6;
}
h1,
h3,
h4,
h5 {
  color: maroon;
}

.header {
  background-color: #f6c76c;
  /* flex-direction: ltr; */
  justify-content: center;
  text-align: center;
}
.flex {
  display: flex;
}
.content {
  background-color: #f6c76c;
}
.listItem {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: baseline;
}
#title {
  margin: 0 auto;
}
#title {
  background-color: #f6c76c!;
}
#create-form {
  height: 50px;
  align-items: baseline;
  justify-content: center;
}
.textBox {
  width: 300px;
  margin-right: 10px;
}

.ml-3 {
  margin-left: 15px !important;
}
