<li>
	<div class="row">
		<div class="col listItem">
			<h3>{{burger_name}}</h3>
			{{#unless devoured}}
			<button style="height: 37.5px;" class="devourIt btn btn-danger ml-3 text-nowrap" data-id="{{burger_id}}"
				data-newsleep="{{devoured}}">
				Devour it!
			</button>
			{{/unless}}
		</div>
	</div>
</li>